#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tesContainer {
  margin: 2.5em 0 10em 0;
}

.paragraf {
  margin: 5em 0 0 0;
  text-align: left;
}

.subpoin {
  padding: 0 7em;
}

.space-jawaban {
 padding: 0 0 2em 0;
}

.card {
  padding: 2em;
}