:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cffaa;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0 3em;
  will-change: filter;
  transition: filter 300ms;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.generate {
  background-color: #19c89caa;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.user-table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.user-table {
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
}

.user-table th,
.user-table td {
  padding: 8px;
  text-align: center;
}

.user-table th {
  background-color: #00ffddaa
}

.user-table tr:nth-child(even) {
  background-color: #00ffdd8e;

  .user-table-actions button {
    background-color: #333;
  }
}

.user-form-modal .radio-group {
  display: flex;
  margin: 0 7em 0 0;

  input::nth-child {
    justify-content: space-between;
  }
}

.user-form-modal .radio-group label {
  display: inline-block;
  margin: 1.2em auto;
}

.user-form-modal .radio-group input {
  margin-right: 5px;
}


.user-table tr:hover {
  background-color: #04074faa;
}

.user-table-actions {
  display: flex;
  justify-content: space-around;
}

.user-table-actions button {
  padding: 5px 10px;
  cursor: pointer;
  margin: 1em 0;
  background-color: #00ffddaa;
}

.user-table-actions button:hover {
  background-color: #00ffddaa;
}

.user-table-add-button {
  background-color: #6168e8b7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.user-form-modal {
  background-color: transparent;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Add border-radius to the top and bottom corners */
  border-radius: 20px;

  /* Add a gradient background to the header */
  background-image: linear-gradient(to right, #007bff, #0096c7);
  background-clip: padding-box; /* Clip the gradient to the padding box */
}

.user-form-modal label {
  padding: auto 0;
}

.user-form-modal h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.user-form-modal label {
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.user-form-modal input {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 1.8em 1em;
}

.user-form-modal .form-buttons {
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
}

.user-form-modal button {
  padding: 15px 30px;
  background-color: #00ffdd7e;
  color: #fff;
  border: none;
  cursor: pointer;
  /* margin: 3em */
}